/* Ð¡trl + / */
.body{
    font-family: 'Roboto',serif;
     font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    margin: 0;
    padding: 0; 
    background-color:#FFFFFF ;
}
.body h1{
    font-family: var('Roboto',
        serif);
        font-weight: 700;
        font-size: 56px;
        line-height: 107%;
        letter-spacing: 0.02em;
        color: #ffffff;
        text-align: center;
}
.body h2{
    font-family: var('Roboto',
        serif);
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.span-web {
    color: #4d5ae5;
}
.logo{
    color: #2e2f42;
}
.contact {
color:#434455;
}
.contact:hover{
color:#404bbf;
}
.span-contact{
color: #434455;
}
.hero-title{
    width: 1440px;
    height: 600px;
    background-color:#2e2f42;
    font-family: var(--font-family);
        font-weight: 700;
        font-size: 56px;
        line-height: 107%;
        letter-spacing: 0.02em;
        color: #FFFFFF;
    text-align: center;
}
.selection_teem{
    width: 1440px;
        height: 732px;
        background: var#f4f4fd;
}
.button{
 cursor: pointer;
border-radius: 4px;
    padding: 16px 32px ;
    width: 169px;
    height: 56px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
}
.button:hover{
    background-color: #404bbf;
    cursor: pointer;
}
